header img {
  width: 100vw;
  max-width:800px;
}
.wrapper {
  width:100vw;
  max-width:800px;
  box-sizing:border-box;
  padding: 0;
  margin: 0 auto;
}
section {
  width: 100%;
  padding: 5px;
  font-size: 3.8vw;
}
section h2, section h3, section p {
  padding:0;
}
section h2 {
  font-size:2em;
}
section h3 {
  font-size:1.2em;
  margin-bottom: 0.2em;
}
section p {
  font-size: 1em;
  margin: 0 0 1.4em 0;
  line-height:1.4em;
}
@media only screen and (min-width:800px) {
  section {
    padding: 20px;
    font-size: 24px;
  }
}
