header img {
  width: calc(100vw - 20px);
  max-width:800px;
}
.wrapper {
  width: calc(100vw - 20px);
  max-width:800px;
  box-sizing:border-box;
  padding: 0;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
}
.alphabet {
  display:block;
  width: calc(100vw - 20px);
  max-width: 780px;
  text-align:left;
  font-size: 0.7em;
  font-family: 'Courier New', Courier, mono;
  position: sticky;
  top: 5px;
  letter-spacing: 0.5em;
  vertical-align:middle;
}
.alphabet a {
  font-size: 2em;
  vertical-align:middle;
}
section {
  width: 100%;
  padding: 5px;
  font-size: 3.8vw;
  box-sizing:border-box;
}
section h2, section h3, section p {
  padding:0;
}
section h2 {
  font-size:1.8em;
}
section h3 {
  font-size:1.2em;
  margin-bottom: 0.2em;
}
section blockquote {
  margin: 1.4em 0;
  padding:0;
  font-style:italic;
}
section p {
  font-size: 1em;
  margin: 0 0 1.4em 0;
  line-height:1.4em;
}
section p a {
  font-size: 1.2em;
  line-height: 0.9em;
}
section blockquote a {
  font-size:1em;
  line-height:1.4em
}
@media only screen and (min-width:800px) {
  section {
    padding: 20px;
    font-size: 24px;
  }
  body {
    padding: 0;
    margin:0;
  }
}
